html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*BACKOFFICE STYLE*/

#product{
    width:100vw;
    display: flex;
}

.infos{
    width: 60%;
    margin: 0 auto;
}

#nameProduct .form-control, #infoProduct .form-control, #brandProduct .form-control, #imageProduct .form-control {
    height: 40px;
}

#brandProduct{
    width: 30%;
}

#priceProduct{
    width: 30%;
}

.home{
    color:white;
}

.footer{
    width:100vw;
    height: 100px;
    margin-top: 40px;
    background-color: #212529;
}

/*CSS BACKOFFICE*/
.card{
    height: 550px;
    width: 250px;
    display: flex;
}

.card-img-top{
    height: 300px;
    width: 200px;
    margin-left:10px;
}

#productContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

#productContainer .card{
    margin-left: 15px;
}

#productContainer .card-img-top{
    margin-left: 25px;
    margin-top: 15px;
}

/*CSS HOME INFO PRODUCT*/

@media (min-width:1050px) {

#info1{
    width:70vw;
    background-color:rgba(0, 0, 0, 0.1);
    display: flex;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgb(185, 185, 185);
    overflow: hidden;
    wra
}

#info1 img{
    height: 500px;
    width: 400px;
}

#info1 .card-body{
    margin-left: 30px;
    margin-top: 10px;
}

#info1 h5{
    font-size: 30px;
}

#descrip{
    margin-top: 20px;
    overflow-wrap: break-word;
}

   


